In [49]:
import pandas as pd
import numpy as np
import duckdb
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing

In [50]:
combined_df = pd.read_csv('combined_data.csv')

In [51]:
combined_df.head()

,Country,Year,GDP per Capita,Population(Million),Average Spending on Higher Education (USD/student),Government Expenditure On Education (%),Government Spending Teritary (% GDP),Household Income per Capita,Number of Universities,Primary Enrollment rate (% gross),Secondary Enrollment rate (% gross),Tertiary Enrollment rate (% gross),Population with Tertiary Education (%)
0,AUS,1995,22442.32,18.004882,NaN,5.13413,1.4,NaN,187,101.29127,143.23387,70.68857,24.697142
1,AUS,1996,23289.40,18.224767,NaN,5.23100,1.6,NaN,187,101.58029,148.63600,75.64778,NaN
2,AUS,1997,24477.41,18.423037,NaN,NaN,NaN,NaN,187,101.18403,152.93597,80.90665,25.702168
3,AUS,1998,25708.26,18.607584,NaN,NaN,NaN,NaN,187,100.92862,NaN,NaN,28.139578
4,AUS,1999,27139.25,18.812264,NaN,NaN,NaN,NaN,187,100.65884,NaN,NaN,28.981586

In [52]:
query = """
        SELECT 
            Country,
            AVG("GDP per capita") AS "GDP per capita",
            AVG("Population(Million)") AS "Population (Million)",
            AVG("Average Spending on Higher Education (USD/student)")
            AS "Average Spending on Higher Education (USD/student)",
            AVG("Government Expenditure On Education (%)")
            AS "Government Expenditure On Education (%)",
            AVG("Government Spending Teritary (% GDP)")
            AS "Government Spending Teritary (% GDP)",
            AVG("Household Income per Capita")
            AS "Household Income per Capita",
            AVG("Number of Universities")
            AS "Number of Universities",
            AVG("Primary Enrollment rate (% gross)")
            AS "Primary Enrollment rate (% gross)",
            AVG("Secondary Enrollment rate (% gross)")
            AS "Secondary Enrollment rate (% gross)",
            AVG("Tertiary Enrollment rate (% gross)")
            AS "Tertiary Enrollment rate (% gross)",
            AVG("Population with Tertiary Education (%)")
            AS "Population with Tertiary Education (%)"
        FROM combined_df
        GROUP BY Country
        
        """
df = duckdb.sql(query).df()
df.head()

,Country,GDP per capita,Population (Million),Average Spending on Higher Education (USD/student),Government Expenditure On Education (%),Government Spending Teritary (% GDP),Household Income per Capita,Number of Universities,Primary Enrollment rate (% gross),Secondary Enrollment rate (% gross),Tertiary Enrollment rate (% gross),Population with Tertiary Education (%)
0,AUS,38143.8412,21.221520,17397.198571,5.063198,1.243750,35349.783486,187.0,102.619088,147.339639,100.465227,40.367922
1,AUT,39269.2264,8.311855,18464.942500,5.474380,1.500000,33898.521290,84.0,101.832554,100.166013,70.926428,35.767432
2,BEL,36588.5528,10.709564,17163.086154,5.935744,1.275000,31524.486336,142.0,102.601560,155.965544,65.986742,41.729849
3,CAN,37217.9484,33.088363,22755.057500,5.031936,1.733333,30849.148394,383.0,100.065320,106.513946,67.084939,53.696534
4,CHE,49494.9216,7.678109,24848.250000,4.900874,1.245455,38082.094754,103.0,103.458437,97.630051,48.298670,35.897165

In [53]:
df

,Country,GDP per capita,Population (Million),Average Spending on Higher Education (USD/student),Government Expenditure On Education (%),Government Spending Teritary (% GDP),Household Income per Capita,Number of Universities,Primary Enrollment rate (% gross),Secondary Enrollment rate (% gross),Tertiary Enrollment rate (% gross),Population with Tertiary Education (%)
0,AUS,38143.8412,21.221520,17397.198571,5.063198,1.243750,35349.783486,187.0,102.619088,147.339639,100.465227,40.367922
1,AUT,39269.2264,8.311855,18464.942500,5.474380,1.500000,33898.521290,84.0,101.832554,100.166013,70.926428,35.767432
2,BEL,36588.5528,10.709564,17163.086154,5.935744,1.275000,31524.486336,142.0,102.601560,155.965544,65.986742,41.729849
3,CAN,37217.9484,33.088363,22755.057500,5.031936,1.733333,30849.148394,383.0,100.065320,106.513946,67.084939,53.696534
4,CHE,49494.9216,7.678109,24848.250000,4.900874,1.245455,38082.094754,103.0,103.458437,97.630051,48.298670,35.897165
5,CHL,15891.7824,16.581038,7544.659200,4.042522,0.771429,14680.116641,130.0,101.931867,93.304423,58.761617,27.000790
6,COL,10366.1188,42.574965,5183.988900,4.300569,0.870588,NaN,299.0,118.238453,87.256054,36.675314,26.549254
7,CRI,12656.1856,4.313503,8235.508000,5.670795,1.223810,14398.927904,68.0,111.558533,91.478651,49.802730,23.838134
8,CZE,25498.4176,10.397214,10111.913067,4.152662,0.840909,21668.392262,64.0,101.572463,96.110753,48.297053,20.194433
9,DEU,37336.2512,81.991879,17381.116667,4.743160,1.213333,34478.737746,461.0,103.148620,101.347733,61.839059,25.446672
10,DNK,38765.7204,5.491185,17796.165769,7.830206,2.280000,29396.827843,81.0,100.779110,124.672983,71.262708,37.325815
11,ESP,28947.8592,43.999465,11902.983467,4.342550,0.954545,24523.314692,276.0,104.371436,117.639196,70.364362,38.458792
12,EST,19864.6320,1.353437,10507.637308,5.355102,1.133333,18114.374741,31.0,99.437920,103.916366,62.553891,35.144070
13,FIN,35041.4276,5.309469,16293.957067,6.374250,1.938095,29992.501949,42.0,99.754404,125.189124,86.856154,39.579331
14,FRA,33349.8792,63.507052,15758.829231,5.534028,1.066667,31355.885110,625.0,102.641035,106.039964,56.138930,39.322719
15,GBR,34269.3192,61.749639,26825.267500,4.960464,1.019048,29738.087529,337.0,102.832681,106.079089,58.126625,40.871901
16,GRC,24684.4432,10.877739,3966.627300,3.728457,0.980000,21181.445286,66.0,97.385930,98.251317,87.177639,30.239764
17,HUN,19443.3156,10.045366,9990.869600,4.779212,0.931818,17391.201724,69.0,100.121523,98.056250,49.803012,23.170428
18,IRL,45284.4612,4.266333,14336.634667,4.583621,1.127273,26374.186062,71.0,101.276804,114.656240,59.475555,44.735780
19,ISL,39542.5520,0.306963,11913.987571,6.989704,1.319048,NaN,9.0,99.182653,111.354106,64.206610,36.515743
20,ISR,29219.7068,7.243359,11648.622800,5.940658,1.000000,NaN,55.0,105.379374,103.272581,58.582081,44.532799
21,ITA,32675.2896,58.614676,10196.657333,4.283544,0.763636,28435.797457,289.0,101.959712,98.386192,58.817724,18.513995
22,JPN,33420.4124,127.201631,18495.698182,3.372497,0.584211,28465.064950,992.0,98.640149,100.972108,57.431546,54.534108
23,KOR,27764.7016,48.758081,10849.880000,3.764118,0.580000,21884.328006,401.0,100.732888,97.514302,87.515502,53.825266
24,LTU,18793.7432,3.218818,8321.292154,4.869863,1.120000,20019.852501,40.0,101.909493,102.407697,66.377502,47.620530
25,LUX,79076.9572,0.494747,49792.068333,3.910407,0.300000,42461.386142,5.0,99.200765,97.642127,13.403139,44.792909
26,LVA,16648.1776,2.185456,7517.596143,5.238533,0.914286,16411.382843,55.0,100.365232,100.750601,66.100289,28.438211
27,MEX,14250.2520,109.181161,7603.605133,4.616147,0.885000,14813.395581,1139.0,108.502968,83.991839,26.634522,18.800983
28,NLD,41083.1380,16.407267,18034.415333,5.070156,1.483333,32217.015807,129.0,106.839415,121.522582,62.006546,38.198577
29,NOR,50156.6540,4.790804,19981.563571,7.197415,2.022727,34858.179363,47.0,99.094104,114.684324,73.318880,45.391696
30,NZL,29218.5784,4.234448,14044.741143,6.310440,1.612500,25102.016694,53.0,99.761412,116.328241,90.352489,42.771290
31,POL,18115.1964,38.314719,8015.767929,4.997361,1.009091,18584.105419,408.0,97.448548,101.305335,60.615622,29.522364
32,PRT,24422.9612,10.385091,9939.640867,5.036202,0.931579,22615.828991,109.0,114.767432,108.392225,57.295100,23.380691
33,SVK,20375.6768,5.403722,9232.927667,4.016790,0.845455,18846.763166,36.0,100.191345,90.336625,41.183072,21.598157
34,SVN,25659.8784,2.025243,11306.660400,5.319600,1.155556,22283.510969,55.0,100.271232,102.512102,70.482578,32.566133
35,SWE,38554.1476,9.300850,21844.524667,6.928841,1.836364,30557.812477,46.0,109.080369,128.112388,67.689864,40.360787
36,TUR,16460.6272,70.652581,10527.502778,3.407876,0.850000,17003.461032,209.0,101.735798,88.287084,56.123260,17.408836
37,USA,45706.8096,300.008499,27522.032667,5.666753,1.360000,45193.245286,3180.0,101.573668,97.246052,83.546338,41.398029

In [54]:
df.to_csv('country_average.csv', index=False)

In [55]:
df = df[(df['Country'] != "COL") & (df['Country'] != "ISL") & (df['Country'] != "ISR")]

In [56]:
df.reset_index(drop=True, inplace=True)

In [57]:
df

,Country,GDP per capita,Population (Million),Average Spending on Higher Education (USD/student),Government Expenditure On Education (%),Government Spending Teritary (% GDP),Household Income per Capita,Number of Universities,Primary Enrollment rate (% gross),Secondary Enrollment rate (% gross),Tertiary Enrollment rate (% gross),Population with Tertiary Education (%)
0,AUS,38143.8412,21.221520,17397.198571,5.063198,1.243750,35349.783486,187.0,102.619088,147.339639,100.465227,40.367922
1,AUT,39269.2264,8.311855,18464.942500,5.474380,1.500000,33898.521290,84.0,101.832554,100.166013,70.926428,35.767432
2,BEL,36588.5528,10.709564,17163.086154,5.935744,1.275000,31524.486336,142.0,102.601560,155.965544,65.986742,41.729849
3,CAN,37217.9484,33.088363,22755.057500,5.031936,1.733333,30849.148394,383.0,100.065320,106.513946,67.084939,53.696534
4,CHE,49494.9216,7.678109,24848.250000,4.900874,1.245455,38082.094754,103.0,103.458437,97.630051,48.298670,35.897165
5,CHL,15891.7824,16.581038,7544.659200,4.042522,0.771429,14680.116641,130.0,101.931867,93.304423,58.761617,27.000790
6,CRI,12656.1856,4.313503,8235.508000,5.670795,1.223810,14398.927904,68.0,111.558533,91.478651,49.802730,23.838134
7,CZE,25498.4176,10.397214,10111.913067,4.152662,0.840909,21668.392262,64.0,101.572463,96.110753,48.297053,20.194433
8,DEU,37336.2512,81.991879,17381.116667,4.743160,1.213333,34478.737746,461.0,103.148620,101.347733,61.839059,25.446672
9,DNK,38765.7204,5.491185,17796.165769,7.830206,2.280000,29396.827843,81.0,100.779110,124.672983,71.262708,37.325815
10,ESP,28947.8592,43.999465,11902.983467,4.342550,0.954545,24523.314692,276.0,104.371436,117.639196,70.364362,38.458792
11,EST,19864.6320,1.353437,10507.637308,5.355102,1.133333,18114.374741,31.0,99.437920,103.916366,62.553891,35.144070
12,FIN,35041.4276,5.309469,16293.957067,6.374250,1.938095,29992.501949,42.0,99.754404,125.189124,86.856154,39.579331
13,FRA,33349.8792,63.507052,15758.829231,5.534028,1.066667,31355.885110,625.0,102.641035,106.039964,56.138930,39.322719
14,GBR,34269.3192,61.749639,26825.267500,4.960464,1.019048,29738.087529,337.0,102.832681,106.079089,58.126625,40.871901
15,GRC,24684.4432,10.877739,3966.627300,3.728457,0.980000,21181.445286,66.0,97.385930,98.251317,87.177639,30.239764
16,HUN,19443.3156,10.045366,9990.869600,4.779212,0.931818,17391.201724,69.0,100.121523,98.056250,49.803012,23.170428
17,IRL,45284.4612,4.266333,14336.634667,4.583621,1.127273,26374.186062,71.0,101.276804,114.656240,59.475555,44.735780
18,ITA,32675.2896,58.614676,10196.657333,4.283544,0.763636,28435.797457,289.0,101.959712,98.386192,58.817724,18.513995
19,JPN,33420.4124,127.201631,18495.698182,3.372497,0.584211,28465.064950,992.0,98.640149,100.972108,57.431546,54.534108
20,KOR,27764.7016,48.758081,10849.880000,3.764118,0.580000,21884.328006,401.0,100.732888,97.514302,87.515502,53.825266
21,LTU,18793.7432,3.218818,8321.292154,4.869863,1.120000,20019.852501,40.0,101.909493,102.407697,66.377502,47.620530
22,LUX,79076.9572,0.494747,49792.068333,3.910407,0.300000,42461.386142,5.0,99.200765,97.642127,13.403139,44.792909
23,LVA,16648.1776,2.185456,7517.596143,5.238533,0.914286,16411.382843,55.0,100.365232,100.750601,66.100289,28.438211
24,MEX,14250.2520,109.181161,7603.605133,4.616147,0.885000,14813.395581,1139.0,108.502968,83.991839,26.634522,18.800983
25,NLD,41083.1380,16.407267,18034.415333,5.070156,1.483333,32217.015807,129.0,106.839415,121.522582,62.006546,38.198577
26,NOR,50156.6540,4.790804,19981.563571,7.197415,2.022727,34858.179363,47.0,99.094104,114.684324,73.318880,45.391696
27,NZL,29218.5784,4.234448,14044.741143,6.310440,1.612500,25102.016694,53.0,99.761412,116.328241,90.352489,42.771290
28,POL,18115.1964,38.314719,8015.767929,4.997361,1.009091,18584.105419,408.0,97.448548,101.305335,60.615622,29.522364
29,PRT,24422.9612,10.385091,9939.640867,5.036202,0.931579,22615.828991,109.0,114.767432,108.392225,57.295100,23.380691
30,SVK,20375.6768,5.403722,9232.927667,4.016790,0.845455,18846.763166,36.0,100.191345,90.336625,41.183072,21.598157
31,SVN,25659.8784,2.025243,11306.660400,5.319600,1.155556,22283.510969,55.0,100.271232,102.512102,70.482578,32.566133
32,SWE,38554.1476,9.300850,21844.524667,6.928841,1.836364,30557.812477,46.0,109.080369,128.112388,67.689864,40.360787
33,TUR,16460.6272,70.652581,10527.502778,3.407876,0.850000,17003.461032,209.0,101.735798,88.287084,56.123260,17.408836
34,USA,45706.8096,300.008499,27522.032667,5.666753,1.360000,45193.245286,3180.0,101.573668,97.246052,83.546338,41.398029

In [58]:
input_vars = ["GDP per capita", "Population (Million)", "Average Spending on Higher Education (USD/student)", \
              "Government Expenditure On Education (%)", "Government Spending Teritary (% GDP)",\
              "Household Income per Capita", "Number of Universities", "Primary Enrollment rate (% gross)", \
              "Secondary Enrollment rate (% gross)", "Tertiary Enrollment rate (% gross)"]
def Normalizer(df_cols):
    scaler = preprocessing.StandardScaler().fit(df_cols)
    return(scaler.transform(df_cols))
x = Normalizer(df[input_vars].values)
y = df["Population with Tertiary Education (%)"]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=2950)
model = LinearRegression().fit(X_train, y_train)

In [59]:
y_test_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)

mse_train = mean_squared_error(y_train, y_train_pred)
mse_test = mean_squared_error(y_test, y_test_pred)
rmse_train = np.sqrt(mse_train)
rmse_test = np.sqrt(mse_test)

print("Mean Squared Error on Training Data: " + str(mse_train))
print("Mean Squared Error on Testing data: " + str(mse_test))
print("Root Mean Squared Error on Training Data: " + str(rmse_train))
print("Root Mean Squared Error on Testing Data: " + str(rmse_test))

Mean Squared Error on Training Data: 30.336330076317726
Mean Squared Error on Testing data: 102.69656515821106
Root Mean Squared Error on Training Data: 5.507842597271433
Root Mean Squared Error on Testing Data: 10.133931377220346

In [60]:
x = Normalizer(df["GDP per capita"].values.reshape(-1, 1))
y = df["Population with Tertiary Education (%)"].values.reshape(-1, 1)
model = LinearRegression().fit(x, y)
print(model.coef_)

[[5.38228627]]